* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--main-background);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6em;
}

:root {
    --main-background: hsl(233deg 47% 7%);
    --card-background: hsl(244deg 38% 16%);
    --accent: hsl(277deg 64% 61%);
    --mainheading-stats: hsl(0deg 0% 100%);
    --main-paragraph: hsl(0deg 0% 100% / 75%);
    --stats-headings: hsl(0deg 0% 100% / 60%);
}

@font-face {
    font-family: Inter;
    src:
        url("fonts/Inter-Regular.woff2") format("woff2"),
        url("fonts/Inter-Regular.woff") format("woff"),
        url("fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

@font-face {
    font-family: Lexend-Deca;
    src:
        url("fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("fonts/LexendDeca-Regular.woff") format("woff"),
        url("fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
}

.img-header {
    background: var(--accent) url("images/image-header-mobile.jpg") top center / cover no-repeat;
    background-blend-mode: multiply;
    height: 15.86em;
}

.card-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.7em;
    background-color: var(--card-background);
}

.card-contain {
    display: flex;
    flex-direction: column;
    padding: 2.6em 2.3em;
    max-width: 25em;
    gap: 1.3em;
    text-align: center;
}

.title {
    color: var(--mainheading-stats);
    font-family: Inter, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
}

.accent-text {
    color: var(--accent);
}

.description {
    color: var(--main-paragraph);
    font-family: Inter, sans-serif;
}

.stats-container {
    font-family: Lexend-Deca, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    padding-top: 1.6em;
}

.stat {
    text-transform: uppercase;
}

.number {
    color: var(--mainheading-stats);
    display: block;
    font-size: 1.65em;
}

.name {
    color: var(--stats-headings);
    display: block;
    font-size: 0.9em;
}

@media screen and (min-width: 1024px) {
    body {
        min-height: 100vh;
    }

    .card-container {
        flex-direction: row;
    }

    .card-contain {
        text-align: left;
        justify-content: start;
        padding: 5.3em 6em 4em 4em;
        max-width: 38em;
    }

    .title {
        font-size: 2.475em;
    }

    .description {
        font-size: 1em;
        width: 23.3em;
    }

    .img-header {
        background: var(--accent) url("images/image-header-desktop.jpg") right / cover no-repeat;
        background-blend-mode: multiply;
        width: 36em;
        height: 29.73em;
        order: 5;
    }

    .stats-container {
        width: 23.3em;
        padding-top: 4em;
        gap: 0;
        flex-direction: row;
        justify-content: space-between;
    }
}
