* {
    margin: 0;
}

body {
    font-size: 15px;
    background-color: var(--main-background);
    color: white;
}

:root {
    --main-background: hsl(233deg 47% 7%);
    --card-background: hsl(244deg 38% 16%);
    --accent: hsl(277deg 64% 61%);
    --mainheading-stats: hsl(0deg 0% 100%);
    --main-paragraph: hsl(0deg 0% 100% / 75%);
    --stats-headings: hsl(0deg 0% 100% / 60%);
}

@font-face {
    font-family: Inter;
    src:
        url("/fonts/Inter-Regular.woff2") format("woff2"),
        url("/fonts/Inter-Regular.woff") format("woff"),
        url("/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

/* Weights: 400, 700 */

@font-face {
    font-family: Lexend-Deca;
    src:
        url("/fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("/fonts/LexendDeca-Regular.woff") format("woff"),
        url("/fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
}

/* Weights: 400 */

.container-absolute {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--card-background);
}

.card-image-container {
    position: relative;
    width: 350px;
    height: 289px;
    display: block;
}

.card-image {
    width: inherit;
}

.background-img {
    position: absolute;
    background-color: var(--accent);
    width: inherit;
    height: inherit;
    opacity: 0.5;
}

.card-contain {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    width: 350px;
    margin: 10px;
}

.title {
    color: var(--mainheading-stats);
    font-family: Inter, sans-serif;
    font-size: 1.75em;
}

.color-main {
    color: var(--accent);
}

.description {
    color: var(--main-paragraph);
    font-family: Inter, sans-serif;
}

.stats-container {
    font-family: Lexend-Deca, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.stat {
    text-transform: uppercase;
}

.number {
    font-size: 1.5em;
    color: var(--mainheading-stats);
    display: block;
}

.name {
    font-size: 0.8em;
    color: var(--stats-headings);
    display: block;
}

@media screen and (max-width: 430px) {
    body {
        margin: 10px;
    }

    .container-absolute {
        width: auto;
        height: auto;
    }

    .card-container {
        flex-flow: column nowrap;
        width: 375px;
    }

    .card-image-container {
        width: inherit;
        height: 275px;
    }

    .card-contain {
        width: auto;
    }

    .stats-container {
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
    }
}
